@page "/DownloadFile"
@inject HttpClient HttpClient

<PageTitle>ServiceWorker - Download File as stream</PageTitle>

<h2>Download File as stream</h2>
<p>On this page we use that we have setup configuration in <code>Program.cs</code> to intercept any URLs that contains <code>"download/"</code> and intead return the file referenced as a <code>ReadableStream</code> and with a new name.</p>

<a href="download/lighthouse.jpg" target="_blank">download/lighthouse.jpg</a>
<br />
<a href="download/mountain.jpg" target="_blank">download/mountain.jpg</a>
<br />
<a href="download/snow.jpg" target="_blank">download/snow.jpg</a>