@page "/FetchIntercept"

<PageTitle>ServiceWorker - Fetch Intercept</PageTitle>

<h2>Fetch Intercept</h2>
The below images should be mountains, but the Service Worker will replace each with either an image of snow or a lighthouse.
<br />
<code>
<pre>&lt;img src=&quot;images/mountain.jpg?id=1&quot; style=&quot;max-width:45%; max-height:30vh;&quot; /&gt;
&lt;img src=&quot;images/mountain.jpg?id=2&quot; style=&quot;max-width:45%; max-height:30vh;&quot; /&gt;
&lt;img src=&quot;images/mountain.jpg?id=3&quot; style=&quot;max-width:45%; max-height:30vh;&quot; /&gt;
&lt;img src=&quot;images/mountain.jpg?id=4&quot; style=&quot;max-width:45%; max-height:30vh;&quot; /&gt;</pre>
</code>
<img src="images/mountain.jpg?id=1" style="max-width:45%; max-height:30vh;" />
<img src="images/mountain.jpg?id=2" style="max-width:45%; max-height:30vh;" />
<img src="images/mountain.jpg?id=3" style="max-width:45%; max-height:30vh;" />
<img src="images/mountain.jpg?id=4" style="max-width:45%; max-height:30vh;" />