@page "/"

@inject Logger logger

<PageTitle>ServiceWorker</PageTitle>

<h2>Log of Service Worker events</h2>

<textarea style="width:100%;height:40vh" disabled>@logger.Log</textarea>

@code {
    protected override void OnInitialized()
    {
        logger.OnChange = StateHasChanged;
    }
}